In [3]:
%cd ..

/home/idisc01/automated-questionnaire-pretesting/pretest_gesis

In [4]:
%cd ..

/home/idisc01/automated-questionnaire-pretesting

In [17]:
import glob
import pandas as pd
import matplotlib.pyplot as plt

from parsers.persona import parse_persona_text

In [ ]:
DATA_DIR = "pretest_gesis/experiments/"

PERSONAS_FILE = DATA_DIR + "survey_personas.txt"
REVIEWS_FILES = glob.glob(DATA_DIR + "reviews/*.txt")

### Persona (Demographics) Analysis

In [7]:
personas = parse_persona_text(PERSONAS_FILE)

# convert to dataframe
df = pd.DataFrame(personas)
df.Age = df.Age.astype(int)
df.head()

,Name,Age,Gender,Race,Location,Occupation,Education,Preferences
0,Emily Clarke,22,Female,White,"London, England",Marketing Assistant,Bachelors in Marketing,Utilizes CRM software for client management
1,Marcus Brown,28,Male,Black,"Birmingham, England",Self-employed Graphic Designer,Diploma in Graphic Design,Relies on Adobe Creative Suite for projects
2,Laura Thompson,34,Female,Asian,"Manchester, England",HR Specialist,Masters in Human Resources,Uses HRM systems daily
3,David Wilson,45,Male,White,"Leeds, England",IT Manager,Masters in Computer Science,Engaged in regular cybersecurity tool usage
4,Julie Harris,60,Female,Black,"Liverpool, England",Self-employed Nutritionist,Bachelors in Nutrition Science,Utilizes video conferencing tools for consulta...

In [8]:
age_groups = ['18-30', '31-50', '51-65']
education = ['Lower education', 'Higher education']

In [9]:
df["age_group"] = pd.cut(df.Age, bins=[18, 30, 50, 65], labels=age_groups, right=True)

In [10]:
df.age_group.value_counts()

31-50    33
18-30    25
51-65    15
Name: age_group, dtype: int64

In [11]:
def categorize_education(t):
    t = t.lower()
    # Assuming DVM, Associates, Bachelors and above as higher education
    if ('bachelors' in t) or ('masters' in t) or ('ph.d.' in t) or (t == 'dvm') or ('associates' in t):
        return 'Higher education'
    else:
    # Assuming certifications, diploma, apprenticeships as lower education
        return 'Lower education'

df['education_level'] = df.Education.apply(categorize_education)

In [12]:
df.education_level.value_counts()

Higher education    42
Lower education     33
Name: education_level, dtype: int64

In [13]:
df.groupby(['age_group', 'education_level', 'Gender']).Name.count().unstack()

Gender                      Female  Male
age_group education_level
18-30     Higher education       6     9
          Lower education        5     5
31-50     Higher education       9    10
          Lower education        7     7
51-65     Higher education       7     1
          Lower education        2     5

In [14]:
# Count percentage of self-employed
df["self_employed"] = df.Occupation.apply(lambda x: 'self-employed' in x.lower())

In [15]:
# original study expected at least 20% self-employed
df.self_employed.value_counts(normalize=True)

False    0.826667
True     0.173333
Name: self_employed, dtype: float64

### Check reviews

In [ ]:
for i, f in enumerate(REVIEWS_FILES, start=1):
    print(f"REVIEW {i}")
    print("="*50)
    print(open(f).read())
    print("="*50)